@model IEnumerable<MVCGroupE.Models.Enrolment>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
    var userId = User.Identity.GetUserId();
   
}

<h2>Academic History</h2>
@using (Html.BeginForm())
{
    <p>
        Find by Category Name: @Html.TextBox("UserSearch")
        <input type="submit" value="Search" />
    </p>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr class="info">
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrolmentYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrolmentSemester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (item.Students.ApplicationUserId == userId)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrolmentYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrolmentSemester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EnrollId }) |
                @Html.ActionLink("Details", "Details", new { id = item.EnrollId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EnrollId })
            </td>
        </tr>
    }

}

</table>
