@{
    ViewBag.Title = "UCOL";
}
<img src="https://i.imgur.com/DOC8GvN.png" />
<div class="row" align="center">

    <div class="col-md-4">
        <h2>Student's Information</h2>
        <p><a class="btn btn-info btn-md" href=@Url.Action("Details", "Students")>View &raquo;</a></p>
        <h2>View All Courses</h2>
        <p><a class="btn btn-info btn-md" href="@Url.Action("Index", "Courses" )">View &raquo;</a></p>
        <h2>View Aviable Future Courses</h2>
        <p><a class="btn btn-info btn-md" href="@Url.Action("Pathway", "Courses" )">View &raquo;</a></p>
       

    </div>
    <div class="col-md-4">
        <h2>Enter Academic History </h2>
        <p><a class="btn btn-info btn-md" href="@Url.Action("Create", "NewEnrolments" )">Enter &raquo;</a></p>
        <h2>View Academic History </h2>
        <p><a class="btn btn-info btn-md" href="@Url.Action("Index", "NewEnrolments" )">View &raquo;</a></p>
        <h2>Create Study Plan</h2>
        <p><a class="btn btn-info btn-md" href="@Url.Action("Index", "FurtureClasses" )">Enter &raquo;</a></p>
       
       
       

    </div>
    <div class="col-md-4" >
        <h2>View All Course Results(Admin)</h2>
        <p><a class="btn btn-info btn-md" href="@Url.Action("IndexAdmin", "ReviewEnrolments" )">Review &raquo;</a></p>
        <h2>Attendance Report</h2>
        <p><a class="btn btn-info btn-md" href="@Url.Action("Index", "LabHistories" )">Review &raquo;</a></p>
    </div>
    
</div>
