@{
    ViewBag.Title = "UCOL";
}
<img src="https://i.imgur.com/DOC8GvN.png" />
<div class="row" align="center">

    <div class="col-md-4">
        <h2>Student's Information</h2>
        <p><a class="btn btn-info btn-sm" href=@Url.Action("Details", "Students")> View &raquo;</a></p>
        <h2>Course Results</h2>
        <p><a class="btn btn-info btn-sm" href="@Url.Action("Create", "NewEnrolments" )">Enter &raquo;</a></p>
        <h2>Review Results(Student)</h2>
        <p><a class="btn btn-info btn-sm" href="@Url.Action("Index", "NewEnrolments" )">View &raquo;</a></p>

    </div>
    <div class="col-md-4">

        <h2>Courses</h2>
        <p><a class="btn btn-info btn-sm" href="@Url.Action("Index", "Courses" )">Courses &raquo;</a></p>
        <h2>Future Courses</h2>
        <p><a class="btn btn-info btn-sm" href="@Url.Action("Pathway", "Courses" )">Pathway &raquo;</a></p>
        <h2>Attendance Report</h2>
        <p><a class="btn btn-info btn-sm" href="@Url.Action("Index", "LabHistories" )">Attendance &raquo;</a></p>


    </div>
    <div class="col-md-4" align="center">


        <h2>View Results(Admin)</h2>
        <p><a class="btn btn-info btn-sm" href="@Url.Action("IndexAdmin", "ReviewEnrolments" )">Review &raquo;</a></p>

    </div>
</div>
